$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(264, 64%, 52%);
$self-care: hsl(43, 84%, 65%);

$primary: hsl(246, 80%, 60%);

$neutral-100: hsl(236, 100%, 87%);
$neutral-400: hsl(235, 45%, 61%);
$neutral-700: hsl(235, 46%, 20%);
$neutral-900: hsl(226, 43%, 10%);

$font-size: 18px;
$font-family: "Rubik", sans-serif;
